<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.pomextentreportlistener.ExtentReportListenerNG" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.qa.pomtestcases.LoginPageTest"></class>
			<class name="com.qa.pomtestcases.HomePageTest"></class>
		<!--  	<class name="com.qa.pomtestcases.ContactsPageTest"></class> -->

		</classes>
	</test>
</suite>